<!-- Adding navigation bar to the home page -->
<app-navigation-bar></app-navigation-bar>

        
      
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <!-- Resizing the image in the img tag without manually doing it in the css class -->
                <!-- having the image is the assets file of the project so that the image will work -->
                <img src="assets/Library_Banner.jpg" alt="New York" width="1200" height="700">
                <div class="carousel-caption">
                  <h3>Knowledge</h3>
                  <p>is free at library. Just Bring your own container.</p>
                </div>      
              </div>
              <!-- making the page nicer with bootstrap class -->
              <div class="jumbotron text-center">
              <h1>UOW Library Managment</h1>
            </div>
        
            
