<!-- Adding navigation bar to the view dvd page -->
<app-navigation-bar></app-navigation-bar>

<!-- using bootstrap style classes got from w3school to automatically style the view dvd page -->
<div class="carousel-inner" role="listbox">
    <div class="item active">
            <!-- resized the image in the img tag itself instead of doing it in the view dvd component css -->
      <img src="assets/P131504-W.jpg" alt="New York" width="1200" height="700">
      <div class="carousel-caption">
        <h3>DVDS</h3>
        <p>are the best way to learn by visualizing.</p>
      </div>      
    </div>
    <!-- using a different bootstrap styling to differenciate the data displaying in a nicer way -->
    <div class="container">
        <div class="jumbotron">
          <h1>DVDS</h1>
      <div class="ro">
        <div class="col-xs-10">
           <!-- using ng for loop to get data obtained from the backend to display in this view dvd page dynamically as we add data in add dvd class -->
    <!-- let i is used for deletion method -->
          <ul class="list-group-item" *ngFor="let dvds of dvdsArray ;  let i=index">
            
                  <!-- getting the title, languages data coming from the backend to specifically display here -->
            <a class="list-group-item" style="cursor: pointer" ><p>{{dvds.title}} </p><p>({{dvds.languages}})</p>
                      <!-- click methos is used to awaken delete method from the typescript class for deletion process -->
              <button type="reset" class="btn btn-danger" (click)="delete(i)">delete</button></a>
       
           
          
            
          </ul>
      
        </div>
      </div>
      </div>
      </div>